/Prácticas/JavaApplication43/nbproject/private/
/Prácticas/JavaApplication43/build/
/Prácticas/PruebasUnitarias/nbproject/private/
/Prácticas/TestingAutodidacta/nbproject/private/
/Prácticas/TestingAutodidacta/build/
/ejercicio03/nbproject/private/
/ClaseUnoJunit_/build/
/ClaseUnoJunit_/nbproject/private/
/EJERCICIO3/nbproject/private/
/EJERCICIO3/build/
/EJERCICIO3/dist/
/ListasColasPilas/nbproject/private/
/ListasColasPilas/build/
